<!DOCTYPE html >
<html lang="en" theme="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../favicon.png" />
		<meta name="viewport" content="width=device-width" />
		
		<link rel="modulepreload" href="../_app/immutable/entry/start.c7ba2f7c.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.8af2c804.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/singletons.745e8459.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.d5bc7278.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/paths.efe1d936.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.f26bc108.js">
	</head>
	<body data-theme="bexis2theme" >
		<div id="edit" dataset="4" version="0" >
			<div id="datastructure" dataset="2" version="0" file="Plants Species Interactions.csv">
				<div id="view" dataset="1" version="0">
					<div style="display: contents" class="h-full overflow-hidden">
			<script>
				{
					__sveltekit_qu8bvh = {
						assets: "/dcm",
						base: new URL("..", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.c7ba2f7c.js"),
						import("../_app/immutable/entry/app.f26bc108.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
			</div>
		</div>
	</body>
</html>
