@using Telerik.Web.Mvc.UI;
@using BExIS.Modules.Rpm.UI.Models;
@using BExIS.Dlm.Entities.DataStructure;

@{
    List<Unit> EditUnitModel_ = (List<Unit>)ViewData["EditUnitModel_"];
}

@{
    string temp;
}
<!-- Modal -->

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Variable Templates</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    @(Html.Telerik().Grid(EditUnitModel_)
                                    .Name("bx-rpm-unitGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.Id)
                                            .Width(100);
                                        columns.Bound(c => c.Name);
                                        columns.Bound(c => c.Abbreviation);
                                        columns.Bound(c => c.Dimension.Name).Title("Dimension Name");
                                        columns.Bound(c => c.MeasurementSystem);
                                        columns.Template(
                                            @<text>
                                                @{
                                                temp = "";
                                                if (item.Name.ToLower() == "none")
                                                {
                                                    temp = "All Data Types";
                                                }
                                                else
                                                {
                                                    foreach (DataType dt in item.AssociatedDataTypes.OrderBy(p => p.Name).ToList())
                                                    {
                                                        if (temp == "")
                                                        { temp = dt.Name; }
                                                        else
                                                        { temp = temp + ", " + dt.Name; }
                                                    }
                                                }
                                                }
                                                @temp
                                            </text>
                                                    )
                                                    .Title("Associated Data Types");
                                columns.Bound(c => c.Description)
                            .HtmlAttributes(new { @style = "max-width:500px" });

                            })
                                    .ClientEvents(events => events.OnDataBound("onDataBound"))
                    )
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>